
/* First field: Oznaczenie dysponenta zespolu ratownictwa medycznego (ZRM) */
.field-1 {
  top: 10.5mm;
  left: 1mm;
  width: 130mm;
  height: 7.5mm;
}

/* Second field: Kod ZRM realizującego zlecenie */
.field-2 {
  top: 10.5mm;
  left: 133mm;
  width: 38mm;
  height: 7.5mm;
}

/* Third field: Nr zlecenia wyjazdu */
.field-3 {
  top: 10.5mm;
  left: 173mm;
  width: 30mm;
  height: 7.5mm;
}