/* Human Diagram container */
.human-diagram-container {
  position: absolute;
  top: 51mm;
  left: 119mm;
  width: 53mm;
  height: 47mm;
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* One-letter text inputs */
.letter-input-1 {
  position: absolute;
  top: 2mm;
  left: 7mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-2 {
  position: absolute;
  top: 2mm;
  left: 16mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-3 {
  position: absolute;
  top: 17.4mm;
  left: 3.8mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-4 {
  position: absolute;
  top: 9.7mm;
  left: 5.5mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-5 {
  position: absolute;
  top: 9.6mm;
  left: 17.8mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-6 {
  position: absolute;
  top: 17.2mm;
  left: 19.4mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-7 {
  position: absolute;
  top: 22.5mm;
  left: 8.4mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-8 {
  position: absolute;
  top: 22.5mm;
  left: 14.6mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-9 {
  position: absolute;
  top: 24mm;
  left: 2mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-10 {
  position: absolute;
  top: 24mm;
  left: 21mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-11 {
  position: absolute;
  top: 33mm;
  left: 8.4mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-12 {
  position: absolute;
  top: 33mm;
  left: 14.5mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-13 {
  position: absolute;
  top: 40.6mm;
  left: 16.1mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-14 {
  position: absolute;
  top: 40.5mm;
  left: 6.9mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-1-copy {
  position: absolute;
  top: 2mm;
  left: 36mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-3-copy {
  position: absolute;
  top: 17.4mm;
  left: 28.3mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-4-copy {
  position: absolute;
  top: 9.7mm;
  left: 30mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-5-copy {
  position: absolute;
  top: 9.6mm;
  left: 42.3mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-6-copy {
  position: absolute;
  top: 17.2mm;
  left: 43.9mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-7-copy {
  position: absolute;
  top: 22.5mm;
  left: 32.9mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-8-copy {
  position: absolute;
  top: 22.5mm;
  left: 39.1mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-9-copy {
  position: absolute;
  top: 24mm;
  left: 26.5mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-10-copy {
  position: absolute;
  top: 24mm;
  left: 45.5mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-11-copy {
  position: absolute;
  top: 33mm;
  left: 32.9mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-12-copy {
  position: absolute;
  top: 33mm;
  left: 39mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-13-copy {
  position: absolute;
  top: 40.6mm;
  left: 40.6mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-input-14-copy {
  position: absolute;
  top: 40.5mm;
  left: 31.4mm;
  width: 4mm;
  height: 4mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}