/* Checkboxes positioned in MIEJSCE ZDARZENIA box on the right */

.miejsce-container {
  position: absolute;
  top: 110px;
  left: 780px;
  width: 150px;
  height: 110px;

}

.checkbox-1 {
  top: 18px;
  left: 126px;
  width: 17px;
  height: 17px;
}

.checkbox-2 {
  top: 37px;
  left: 126px;
  width: 17px;
  height: 17px;
}

.checkbox-3 {
  top: 54px;
  left: 126px;
  width: 17px;
  height: 17px;
}

.checkbox-4 {
  top: 71px;
  left: 126px;
  width: 17px;
  height: 17px;
}

.checkbox-5 {
  top: 88px;
  left: 126px;
  width: 17px;
  height: 17px;
}

.checkbox-6 {
  top: 72px;
  left: 50px;

  width: 17px;
  height: 17px;
}