.form-textarea {
  overflow: hidden;
  resize: none;
}

.form-textarea::placeholder {
  color: #666;
  opacity: 0.7;
  font-style: italic;
  font-size: 0.9em;
}

.form-textarea.has-content {
  border: none !important;
}

.form-textarea.required {
  border: 1px solid transparent !important;
  background-color: rgba(255, 0, 0, 0.4) !important; /* Red for required fields */
}

@media print {
  .form-textarea.required {
    background-color: transparent !important;
  }
}

.form-textarea.required.has-content {
  border: none !important;
  background-color: transparent !important;
}

.form-textarea.not-required {
  border: 1px solid transparent !important;
  background-color: rgba(255, 255, 0, 0.5) !important; /* Yellow for not required fields */
}

@media print {
  .form-textarea.not-required {
    background-color: transparent !important;
  }
}

.form-textarea.not-required.has-content {
  border: none !important;
  background-color: transparent !important;
}

